image {
	height: 80%;
	width: 80%;
}

.carousel-item {
	margin-top: 2.5%;
	height: 42.5vmax;
}

.carousel-image-1 {
	background: url("../images/image-1.jpg");
	background-size: contain;
}

.carousel-image-2 {
	background: url("../images/image-2.jpg");
	background-size: contain;
}

.carousel-image-3 {
	background: url("../images/image-3.jpg");
	background-size: contain;
}
.carousel-image-4 {
	background: url("../images/image-4.jpg");
	background-size: contain;
}

.carousel-image-5 {
	background: url("../images/image-5.jpg");
	background-size: contain;
}

.carousel-indicators {
	margin-top: 4rem;
	background-color: rgb(181, 178, 178);
}

#video-play {
	position: relative;
	min-height: 200px;
	background: url("../images/lights.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 0 -300px;
	text-align: center;
	color: #fff;
}

#video-play a {
	color: #fff;
}
