.displayAllUsers {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin: 4% ;
  align-self: center;
  text-align: center;
}

.userProfile {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: white;
  border-style: double;
  overflow: hidden;
  margin-right: 1rem;
}

.usersUserName {
  margin-right: 1rem;
  font-size: medium;
  color: black;
}
