.footer {
	-webkit-box-ordinal-group: 6;
	order: 5;
	background-color: #fafafa;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	display: flex;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
	align-items: center;
	width: 100%;
}

.footerDiv {
	/* max-width: 1012px; */
	font-size: 12px;
	font-weight: 600;
	/* width: 101%; */
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
	margin: 20px;
}

.link {
	display: inline-block;
	margin-bottom: 7px;
	margin-right: 16px;
}

nav {
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.insFacebook {
	color: #8e8e8e;
	padding-bottom: 4px;
}

.footerUser {
	width: 40%;
	flex-wrap: wrap;
}
