body {
	background-color: #fafafa;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

.paper {
	width: 50%;
	padding: 2%;
}

.logInFormDiv {
	width: 100%;
	height: 80vh;
	display: flex;
}

.leftDiv {
	width: 50%;
	display: flex;
	justify-content: center;
	padding: 2.5%;
	margin-right: 2.5%;
	height: 100%;
}

.rightDiv {
	color: #ffffff;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	margin-left: 2.5%;
}

.homePagePic {
	width: 50%;
	height: 80%;
	align-items: center;
	margin-top: 0;
	margin-bottom: 25%;
	padding: 0;
}

img {
	width: 60%;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.logdiv,
.signup {
	border: 1px solid #dbdbdb;
	width: 100%;
}

.instagram {
	font-family: "Lobster Two", cursive;
	font-size: 46px;
	height: 51px;
	width: 313px;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	color: #1595f6;
}

.signIn,
.signUp {
	align-items: center;
}

.span {
	color: #0095f6;
	font-weight: bolder;
	font-size: 16px;
}

#outlined-basic {
	padding: 20px;
	width: 20rem;
	height: 0.75rem;
}

.login {
	width: 22.5rem;
	height: 2rem;
	background: #b2dffc;
	color: white;
	border: 2px solid #b2dffc;
	height: 35px;
	border-radius: 2.5%;
	font-size: large;
	font-weight: bolder;
}

.signUp {
	font-size: 16px;
	margin: 10px 0px;
	background-color: white;
	border: 1px solid #dbdbdb;
}

.facebookDiv {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.facebookIcon {
	height: 18px;
	width: 18px;
	background-color: white;
	align-items: center;
	margin-right: 6px;
	color: #385185;
}

h4,
h2 {
	color: #385185;
}
h6 {
	color: #262626;
}

.orSignUp {
	width: 355px;
	border-top: 1px solid #8f8f8f;
	color: ##385185;
	line-height: 0.1em;
}

.orText {
	padding-top: 10px;
}

.forgotPassword {
	text-align: center;
	background-color: white;
	color: #385185;
	margin-bottom: 10px;
	border-color: #fafafa;
}

.getApp {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin-top: 8px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	color: #262626;
}
.appDiv {
	display: flex;
	flex-direction: row;
}

.appApple {
	height: 40px;
	width: 300px;
	padding-top: 7px;
}

.appGoogle {
	height: 45px;
	width: 320px;
	margin-left: 20px;
}
