.post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-bottom: 3rem;
}

.userHeader {
	display: flex;
	flex-direction: column;
}

.card-img-top {
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 20rem;
	height: 30rem;
	object-fit: initial;
}

.card {
	width: 100%;
	height: 30%;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.usernameTitle {
	width: fit-content;
}
.post-feed {
	margin: 0.5%;
	width: 80%;
}

.post-content {
	font-size: x-large;
	font-style: oblique;
	margin: 1%;
}

.comments-div {
	margin: 0;
	padding: 1%;
}

.img_post {
	width: 100%;
}
