.post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.card-img-top {
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 20rem;
	height: 30rem;
	object-fit: initial;
}

.card {
	width: 75%;
	height: 30%;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin: 3% 3%;
}

.post-feed {
	margin: 0.5%;
	width: 80%;
}

.post-content {
	font-size: x-large;
	font-style: oblique;
	margin: 1%;
}

.comments-div {
	margin: 0;
	padding: 1%;
}
