.post-container {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.card {
	flex-direction: column;
	width: 75%;
	height: 75%;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin: 3% 12.5%;
}

.post-feed {
	margin: 1.5%;
}

.post-content {
	font-size: x-large;
	font-style: oblique;
	margin: 3%;
}

.comments-div {
	margin: 0;
	padding: 1%;
}
