.signup {
	background-color: #fff;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: auto;
	flex-direction: column;
	text-align: center;
	width: 25%;
	padding-top: 2%;
	max-height: 100vh;
}

.signUpContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
	background-color: #ffffff;
}

.formSignUp {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	max-width: 85%;
}
.uploadImage {
	display: flex;
	flex-direction: row;
	height: 55px;
}
.uploadImageInput {
	text-align: center;

}
.uploadImageInputButton {
	background-color:#B2DFFC;
	line-height: 20px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	height: 40px;
  width: 120px;
}

.instagramSignUp {
	font-family: "Lobster Two", cursive;
	text-align: center;
}

h1,
h6 {
	font-family: "Lobster Two", cursive;
	align-items: center;
}

.getAppSignUp {
	font-size: medium;
	font-weight: bold;
}

.facebookDivSignUp {
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 1rem;
}

.facebookButton {
	background-color: #0095f6;
	border: 1px solid transparent;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	font-size: 15px;
	font-weight: bolder;
	padding: 5px 0px;
	text-align: center;
	border-radius: 6px;
	color: #fff;
	position: relative;
	width: 324px;
}
.facebookIcon {
	height: 18px;
	width: 18px;
	background-color: #fafafa;
	align-items: center;
	margin-right: 6px;
}

.or {
	width: 100%;
	text-align: center;
	line-height: 0.1em;
	color: #8f8f8f;
	margin: 0;
}

h4 span {
	background: #fff;
	padding: 10px 10px;
}

p {
	color: #8f8f8f;
	font-size: 13px;
	text-align: center;
}

.signUpInput{
	color: #8f8f8f;
	font-size: 13px;
	line-height: 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #fafafa;
	margin-bottom: .5rem;
	max-width: 100%;
	border-radius: 4px;

}

.signUpButton {
	width: 100%;
	height: 50px;
	background: #b2dffc;
	color: white;
	border: 2px solid #b2dffc;
	border-radius: 3%;
	font-size: large;
	font-weight: bolder;
	margin: 0.5rem 1rem 1rem 1rem;
}

.agreementDiv {
	color: #8f8f8f;
	font-size: 13px;
	line-height: 18px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
	background-color: #ffffff;
}

.signUpAgreement {
	font-size: 12px;
	line-height: 16px;
	margin: 10px 40px;
	color: #8e8e8e;
}

.logInButtonSignUp {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
	background-color: #ffffff;
	line-height: 20px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.linkToLogIN {
	width: 120%;
}

.appDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.getApp {
	background-color: #ffffff;
}

.appApple {
	height: 50px;
	width: 150px;
	padding-top: 7px;
	padding-left: 20px;
}

.appGoogle {
	height: 60px;
	width: 146px;
}

.signUpIntro {
	font-size: 17px;
	font-weight: 600;
	line-height: 20px;
	margin: 1rem;
	color: #8e8e8e;
}
.or {
	font-size: 13px;
	font-weight: 600;
	line-height: 15px;
	margin: 0 18px;
}
