/* .UsersContainer {
  display: flex;
  flex-direction: left;
  float: write;
  margin: 1rem;
  
} */
/* 
.usersInfo{
  border-top: #dbdbdb solid 0.05rem;
  border-bottom: #dbdbdb solid 0.05rem;
} */

.displayAllUsers {
  width: 50%;
  /* justify-content: center;
  align-items: center; */
  display: inline-flex;
  margin-top: 4% ;
  
  align-self: center;
  text-align: center;
}

.userProfile {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: white;
  border-style: double;
  overflow: hidden;
  margin-right: 1rem;
}

.usersUserName {
  margin-right: 1rem;
  font-size: medium;
  color: black;
}
