.userProfileDiv {
	margin-top: 30px;
}
.greeting {
	margin-bottom: 20px;
  font-family: "Lobster Two", cursive;
	color: black;
	font-size: 40px;
}

.userProfilePicture {
	width: 10rem;
	height: 10rem;
	border-radius: 20%;
	background: black;
	margin-bottom: 30px;
}

.image-area {
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.img-wrapper {
	width: 300px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.img-wrapper:before {
	content: "";
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.486);
	z-index: 1;
	transform: skew(45deg);
	transition: 0.5s;
}

.img-wrapper:hover:before {
	left: -180%;
}

.img-wrapper img {
	height: 270px;
	width: 264px;
	filter: grayscale(10%);
	transition: 2s;
	margin-top: 111px;
}

.img-wrapper:hover img {
	filter: grayscale(0%);
	transform: scale(1.1);
}

.aboutParagraph:hover {
	filter: grayscale(0%);
	transform: scale(1.1);
}
.aboutParagraph {
	font-weight: 400px;
	line-height: 1.5;
	color: #5ba3eb;
	border: 10px solid #e1e7ee;
	margin: auto;
	width: 30%;
	padding: 10px;
	margin-top: 22%;
}

.profileP {
	color: black;
	font-size: 30px;
  text-align: center;
  font-family: "Lobster Two", cursive;
}
