.profile_container {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	max-height: 80%;
	width: 500px;
}

.userProfileDiv {
	align-content: center;
	justify-content: center;
	align-items: center;
	align-items: center;
	margin: 2rem;
}

.greeting {
	font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 2rem;
	font-weight: 500;
	line-height: 1.2;
	color: #385185;
}

.userProfilePicture {
	align-content: center;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

.aboutParagraph {
	font-weight: 400px;
	color: #5ba3eb;
	margin: auto;
	align-content: center;
	margin-top: 2rem;
}
.profile_info {
	margin-left: 30%;
}

.profileP {
	color: black;
	font-size: 20px;
	text-align: left;
}

.editButton {
	background-color: #0095f6;
	border: 1px solid transparent;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 15px;
	font-weight: bolder;
	text-align: center;
	border-radius: 6px;
	color: #fff;
	width: 150px;
	margin: 2rem;
}
