.mainUser {
  width: 100%;
  align-items: stretch;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.userContainer {
  display: flex;
  flex-direction: row;
  /* max-width: 935px; */
  max-width: 80%;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  align-items: stretch;
  border: 0 solid #000;
 
  /* max-width: 935px; */
  /* width: 100%; */

}

#rightDiv {
  width: 100%;
  display: flex;
  background: pink;
  height: fit-content;
 }

#leftDiv {
 /* width: 887px;
 display: flex;
 flex-direction: row;
 float: left; */
    /* margin-right: 28px; */
  max-width: 75%;
  width: 100%;
  float: left;
    /* margin-right: 28px;
    max-width: 614px;
    width: 100%; */
 background: chartreuse;
}
.userInfo {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
}

.switchDiv {
  align-content: center;
}

.userProfileLogged {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: white;
  border-style: double;
  overflow: hidden;
  margin: 0.5rem;
}
.userUsernameLogged{
  text-align: center;
  margin-right: 1rem;
  font-size: medium;
  color: black;
}

.cardGrid {
  background: red;
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
}
.random_users{
  
  flex-direction: column;
}

.suggestUsers {
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
  align-content: space-between;
}

.exploreUsers{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 padding: 1rem;
}
.suggest .seeAll{
  padding: 1rem;
   align-content: space-between;
}

.exploreImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: white;
  border-style: double;
  overflow: hidden;
  margin: 0.5rem;
  
}

.exploreName .userUsernameLogged{
  text-align: center;
  margin-right: 1rem;
  font-size: medium;
  color: black;
}

.userFooter {
  position: inherit;
  padding-left: 1rem;
}

.footerDiv {
  display: -webkit-inline-box;
}