.mainUser {
	width: 100%;
	align-items: stretch;
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.userContainer {
	display: grid;
	grid-template-columns: 70% 30%;
	max-width: 70%;
	position: relative;
	align-items: stretch;
	border: 1px solid #000;
}

#rightDiv {
	width: 300px;
}

.switchDiv {
	align-content: center;
}

.userProfileLogged {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background: white;
	border-style: double;
	overflow: hidden;
	margin: 0.5rem 0.5rem 0.5rem 0;
}

.userUsernameLogged {
	text-align: center;
	margin-right: 2.5rem;
	font-size: medium;
	color: black;
}

.adds {
	width: 100%;
}

.cardGrid {
	background: red;
	display: flex;
	align-items: center;
	align-self: center;
	text-align: center;
	justify-content: center;
}

.suggestUsers {
	display: flex;
	align-items: flex-start;
	padding: 1rem 0;
	justify-content: space-between;
	margin-top: 1rem;
}

.exploreUsers .followUser {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 3rem;
	justify-content: space-between;
	margin: 1rem;
}

.exploreUsers {
	padding-top: 4rem;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.suggest .seeAll {
	font-size: 14px;
}

.exploreImage {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: white;
	border-style: double;
}

.exploreName .userUsernameLogged {
	text-align: center;
	margin-right: 1rem;
	font-size: medium;
	color: black;
}

.followUser {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.5rem 0;
}

.exploreNameUser {
	text-align: center;
	margin-right: 1rem;
	font-size: medium;
	color: black;
	padding-left: 0.5rem;
}
