.allUsersContainerIndex {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	align-items: center;
	flex-flow: row nowrap;
	max-width: 935px;
	margin-left: 318px;
}

.leftDivUsersIndex {
	width: 100%;
	float: left;
	margin-right: 28px;
	max-width: 614px;
}
.otherUsersIndex {
	align-content: center;
	width: 100%;
}

.rightDivUsersIndex {
	width: 100%;
}

.healthInsuranceLink {
	background: #ffffff;
	width: 100%;
	margin-bottom: 10px;
	align-items: center;
	padding-bottom: 20px;
}

.healthInsuranceLinkAn {
	text-decoration: none;
	color: #ffffff;
	margin-top: 10px;
}
.linkBtn {
	background-color: #1595f6;
	width: 80%;
	margin-left: 35px;
	border-radius: 4px;
	height: 30px;
	text-align: center;
}

.healthIcon {
	width: 80px;
	height: 80px;
}

h4 {
	color: black;
	font-size: 16px;
	font-weight: bolder;
	font-weight: b;
}
.insuranceInfo {
	color: #b5b5b5;
	font-size: small;
	margin: 10%;
}

.allUsersContainerIndex {
	width: 100%;
	text-align: center;
	align-content: start;
}

.allUsersIndex {
	width: 100%;
}

.userProfileIndex {
	font-size: 100px;
	width: 90%;
}
